
<div class="row">
  <!div class="col-sm-8 col-sm-offset-2">
  <div class="container-fluid">

    <br>
    <div class="text-right"><a class="btn btn-outline-danger mt-auto" *ngIf="book.img" (click)="deleteImg()"> Delete Image </a></div>

    <img style="height: 5cm; width: 4cm" *ngIf="book.img" [src]="book.img" >


    <br>
    <br>
    <form [formGroup]="formBook" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name"> Name </label>
        <input type="text"  class="form-control" id="name"  formControlName="name" style="width: auto">
      </div>
      <div class="form-group">
        <label for="author"> Author </label>
        <input type="text"  class="form-control" id="author" formControlName="author" style="width: auto">
      </div>

      <br>

      <div class="form-group">
        <label for="image"> choose an image </label>
        <input type="file" id="image" (change)="detectUpload($event)"   accept="image/*" >
        <p class="text-success" *ngIf="fileUploaded"> File Uploaded successfully</p>
        <!input type="text"  class="form-control" id="image" formControlName="image">
      </div>

      <br>
      <button type="submit" class="btn btn-primary" [disabled]="formBook.invalid " > Submit </button>
    </form>
    <p class="text-danger" *ngIf="!change"> Nothing has been changed </p>
  </div>
</div>

