<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h1> Register </h1>
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email"> Eamil </label>
        <input type="text"  class="form-control" id="email" formControlName="email">
      </div>
      <div class="form-group">
        <label for="password"> Password </label>
        <input type="password"  class="form-control" id="password" formControlName="password">
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="signUpForm.invalid" > Submit </button>
    </form>
    <p class="alert-danger">{{error}}</p>
  </div>
</div>
